
$color-white: #fff;
$heading_color: #ff3636;
$primary_color: #ff3636;
/* Theme Color */
$link-color: #333;
$link-hover: #ff3636;

$border_color: #333;
/*Theme Color */
$btn_background: #ff3636;
$btn_color: #fff;
$btn_hover: #333;
$bg_gray: #f6f6f6;
$border_gray: #eee;
/* Werking color */
$w_background_color: #0f1113;
$w_color: #fff;
$w_background: #ff3636;