.member{
    // margin-top: 20px;
    // padding: 50px;
    margin-bottom: 5px;
    .img_slider{
        height: 85vh;
        margin-bottom:40px;
        background-image: url(../assets/2.jpg);
        .banner-content{
            .banner_text{
                h1{ 
                    text-align: center;
                    font-size: 80px;
                    color: rgb(30, 109, 92);
                    text-transform: capitalize;
                    font-weight: 700;
                    line-height: 100px;
                    padding-top: 190px;
                }
                h4{
                    color: rgb(41, 100, 20);
                    text-transform: capitalize;
                    font-size: 24px;
                    text-align: center;
                }
            }
        }
    }
    .container{
        background: rgb(247, 243, 243);
        margin-bottom: 10px;
        margin-top:15px;
        .h2{
            // display: block;
            text-align: center;
            margin-top: 50px;
            background: rgb(48, 122, 124);
            padding: 25px;
            width: 350px;
            margin: 0 auto;
            color: aliceblue;
            border-radius: 3px;
        }
        .col-lg-6{
            padding: 40px;
            border-radius: 5px;
            h2{
                color: rgb(177, 54, 54);
            }
            p{
                margin-top:10px;
            }
            .btn_style{
                background:rgb(64, 114, 64);
                border-radius: 3px;
                cursor:pointer;
            }
        }
    }   
}
